# Krishna FPGA profile for the Sitar bridge.
# Values here are loaded when AJIT_THREAD_PROFILE=krishna.

AJIT_NUM_CORES=1
AJIT_THREADS_PER_CORE=1
AJIT_ACTIVE_THREADS=1
AJIT_THREAD_DESCRIPTOR_WORD=0xfa228924
AJIT_THREAD_ISA_MODE=32
AJIT_THREAD_BP_TABLE_SIZE=16
AJIT_THREAD_ICACHE_NUMBER_OF_LINES=512
AJIT_THREAD_ICACHE_ASSOCIATIVITY=4
AJIT_THREAD_DCACHE_NUMBER_OF_LINES=512
AJIT_THREAD_DCACHE_ASSOCIATIVITY=4
AJIT_THREAD_TLB0_LOG_MEM_SIZE=1
AJIT_THREAD_TLB0_LOG_SET_SIZE=1
AJIT_THREAD_TLB1_LOG_MEM_SIZE=3
AJIT_THREAD_TLB1_LOG_SET_SIZE=3
AJIT_THREAD_TLB2_LOG_MEM_SIZE=4
AJIT_THREAD_TLB2_LOG_SET_SIZE=4
AJIT_THREAD_TLB3_LOG_MEM_SIZE=6
AJIT_THREAD_TLB3_LOG_SET_SIZE=3
AJIT_MEMORY_DELAY=2
